<link rel='stylesheet' href='/stylesheets/footer.css'>
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3"> <a class="navbar-brand" href="/movies">MovieApp</a></div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:Parin Patel</div>
</footer>

</div>