<% layout('layouts/boilerplate') -%>

  <link href='/stylesheets/register.css' rel='stylesheet'>
  <div class="container-fluid">
    <form method='POST' class='needs-validation' novalidate action='/login'>
      <div class=" row mt-4">
        <div class="form">
          <h3 class="head display-4 text-center text-light mb-4">Login</h3>

          <div class="form-group">
            <label class="text-light" for='username'>Username:</label>
            <input class="form-control" type='text' id='username' placeholder='Username' name='username' required>
            <div class="invalid-feedback">
              Please fill up title.
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="form-group">
            <label class="text-light" for='password'>Password:</label>
            <input class="form-control" type='password' id='password' placeholder='Password' name='password' required>
            <div class="invalid-feedback">
              Please fill up title.
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg mb-4">Submit</button>
        </div>
      </div>
    </form>
  </div>